.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    border-radius: 10px;
    border-color: white;
    float: right;
}
.big_image{
    width: 100%;
}
.start,#status{
    font-size: 18px;
}
footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: teal;
    color: white;
    font-size: 18px;
    line-height: 3;
}
.modal-dialog{
    width: 75%;
}
.img_instruction{
    display: inline;
    width: 45%;
}